.about-container {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Responsive font size */
}

.card-title {
  font-size: 1.25rem; /* Responsive title size */
}

.card-text {
  font-size: 1rem; /* Responsive paragraph size */
}

.mat-toolbar {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .card-title {
    font-size: 1.1rem; /* Smaller title for mobile */
  }
  
  .card-text {
    font-size: 0.9rem; /* Smaller text for mobile */
  }
}
