<div class="container about-container">
  <mat-toolbar color="primary" class="mb-4 text-center">
    <span class="w-100">About Assured Contract Farming System</span>
  </mat-toolbar>
  <p class="card-text">
    Welcome to the Assured Contract Farming System platform. Our goal is to bridge the gap between farmers and buyers by providing a secure, transparent, and innovative marketplace. This platform helps farmers access stable markets while ensuring buyers get reliable, quality produce.
  </p>
</div>

<div class="container about-container">
  <mat-toolbar color="primary" class="mb-4 text-center">
    <span class="w-100">Our Mission</span>
  </mat-toolbar>

  <div class="row">
    <div class="col-12 col-md-4 mb-4 " >
      <div class="card text-center">
        <div class="card-body" >
          <h1 class="card-title font-weight-bold">Seamless Experience</h1>
          <p class="card-text">We aim to provide a seamless experience for both farmers and buyers with features such as AI-driven matching, secure transactions, and multilingual support.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title font-weight-bold">Transparency and Trust</h1>
          <p class="card-text">We prioritize transparency in every transaction, ensuring that both farmers and buyers can trust the platform for fair dealings and clear communication.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title font-weight-bold">Empowering Farmers</h1>
          <p class="card-text">Our mission is to empower farmers by providing them access to valuable market insights and resources that enhance their productivity and income stability.</p>
        </div>
      </div>
    </div>
  </div>
</div>
