  <div class="center-div">
    <img src="assets/contact.png" alt="Contact Image" class="responsive-img" id="example1">
  </div>
  <div class="center-div">
    <img src="assets/contact1.png" alt="Contact1 Image" class="responsive-img">
  </div>
  
  <div class="contact-container">
    <mat-card class="center-content">
      <mat-card-title>Please feel free to get in touch with us</mat-card-title>
      <mat-card-content>
        <div class="form-container">
          <form>
            <div class="form-row">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" required />
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" required />
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Your Email</mat-label>
                <input matInput type="email" placeholder="Enter your email" required />
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" required />
              </mat-form-field>
            </div>
            <mat-form-field appearance="fill" class="wide-field">
              <mat-label>Subject</mat-label>
              <input matInput placeholder="Subject" required />
            </mat-form-field>
            <mat-form-field appearance="fill" class="wide-field">
              <mat-label>Your Message</mat-label>
              <textarea matInput placeholder="Enter your message" rows="4"></textarea>
            </mat-form-field>
            <div mat-dialog-actions align="center">
              <button mat-raised-button color="primary" type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  