<!-- <div class="home-container">
    <marquee  scrollamount="18" height="20%"><h1 id="welcome">WELCOME IN CONTRACT FARMING</h1></marquee>
    <table class="mat-elevation-z8">
        <tr>
            <ng-container >  
                <td ><img src="https://www.shutterstock.com/shutterstock/photos/2287782825/display_1500/stock-photo-happy-village-farmer-greeting-banker-by-hand-shake-by-showing-paddy-field-concept-of-financial-2287782825.jpg" alt=""> </td>
            </ng-container>&nbsp;
            <ng-container >  
                <td > <img src="https://www.shutterstock.com/shutterstock/photos/2287782825/display_1500/stock-photo-happy-village-farmer-greeting-banker-by-hand-shake-by-showing-paddy-field-concept-of-financial-2287782825.jpg" alt=""> </td>
          </ng-container>
        </tr>
    </table>
    <p><img src="https://www.shutterstock.com/shutterstock/photos/2287782825/display_1500/stock-photo-happy-village-farmer-greeting-banker-by-hand-shake-by-showing-paddy-field-concept-of-financial-2287782825.jpg" alt=""></p>
     <mat-card>
      <mat-card-title>Welcome to the Home Page</mat-card-title>
      <p><img src="https://img.freepik.com/premium-photo/agricultural-handshake-concept-silhouette-two-farmers-shaking-hands-field-wheat-glare-concluding-contract-agreement_76964-109329.jpg?w=1380" alt=""></p>
      <mat-card-content>
        
        <p>This is the home page of our application. Here, you can include a welcome message or introduction to your app.</p>
      </mat-card-content>
    </mat-card> 
  </div>-->
  <div class="home-container">
    <marquee  scrollamount="18" height="20%"><h1 id="welcome">Welcome to the Assured Contract Farming System</h1></marquee>
    <h2>This platform connects farmers with potential buyers through secure contracts and reliable transactions.</h2>
  </div>
  
 
    <table class="mat-elevation-z10" style="width: 100%;">
      <tr>
        <td style="padding: 0;">
          <img src="https://img.freepik.com/premium-photo/agricultural-handshake-concept-silhouette-two-farmers-shaking-hands-field-wheat-glare-concluding-contract-agreement_76964-109329.jpg?w=1380" alt="Contract Farming" style="width: 100%; height: auto;">
        </td>
      </tr>
    </table>
    