.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/login.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.center-content {
  width: 100%; 
  max-width: 400px; 
  padding: 0 20px; 
}

.spacer-top {
  height: 20px; 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.wide-field {
  width: 100%;
  margin-top: 16px; 
}

.full-width {
  width: 100%; 
}

mat-card {
  width: 100%; 
  padding: 20px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 15px; 
}

/* Add margin or padding to the title if needed */
mat-card-title {
  text-align: center; 
  font-size: 24px;
  margin-bottom: 24px; /* Space below title */
}

.login-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px; /* Space above login text */
}

.login-button {
  font-size: 12px;
}
