<div id="example1">
  <div class="contact-container"> 
    <mat-card class="center-content">
      <div class="spacer-top"></div> 
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <div class="form-container">
          <form class="register-form">
            <mat-form-field appearance="outline" class="wide-field">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="Enter your first name" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-field">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Enter your last name" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-field">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Enter your email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-field">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Enter your password" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-field">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" placeholder="Confirm your password" required>
            </mat-form-field>

            <button mat-raised-button color="primary" class="full-width">Register</button>
            <div class="login-text">
              Already have an account? 
              <button mat-button routerLink="/login" class="login-button">Login</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
