.contact-container {
  display: flex;
  justify-content: right; /* Centers the mat-card horizontally */
  align-items: center; /* Centers the mat-card vertically */
  min-height: 100vh; /* Ensures the container takes full viewport height */
}
.spacer {
  flex: 1 1 auto;
}
.center-content {
  width: 100%; /* Sets the card to be centered within the container */
  max-width: 400px; /* Restricts the width of the card */
 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-field {
  width: 100%; /* Ensures the input fields take full width */
}

.full-width {
  width: 100%; /* Ensures the checkbox, button, and link take full width */
}

mat-card {
  width: 100%; /* Full width to allow responsiveness */
  padding: 20px; /* Add padding for spacing */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a soft shadow for aesthetics */
  border-radius: 15px; /* Optional: Rounded corners */
}

mat-card-title {
  text-align: center; /* Centers the title */
  font-size: 24px; /* Optional: make the title larger */
  margin-bottom: 10px; /* Optional: add some space below the title */
}
